.ui.vertical.menu .list-style .item:before {
    width: 95%;
    margin: 0 auto;
    right: 0;
}

.list-style a.item:after {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
    position: absolute;
    top: auto;
    left: 5px;
    font-weight: 400;
    margin-right: 6.25rem;
    content: '•';
    opacity: 1;
    color: inherit;
    vertical-align: top;
}